$bg-color: #262c69;
$btn-light: lighten($bg-color, 10%);
$font-stack: Helvetica, sans-serif;
$boxShadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
$hover-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.34),
  0 6.7px 5.3px rgba(0, 0, 0, 0.8), 0 12.5px 10px rgba(0, 0, 0, 0.6),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.2);

  *,*::after,*::before{
  margin: 0;
  padding: 0;
 
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
.App {
  background-color: $bg-color;
  width: 100%;
  height: 100%;
}

header {
  padding-top: 40px;
  padding-bottom: 30px;

  h1 {
    color: rgb(212, 211, 211);
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;

    :hover {
      cursor: pointer;
    }
    strong {
      color: #ff2222;
    }
  }
}

.content-wrap {
  display: flex;

  aside {
    max-width: fit-content;
    padding-right: 16px;

    nav {
      padding-left: 16px;
      padding-right: 16px;

      h3 {
        color: #df4b4b;
        font-size: 27px;
        padding: 8px 10px;
        font-family: "Courier New", Courier, monospace;
        margin-bottom: 16px;
      }
      .top-list {
        background-color: $btn-light;
        border-radius: 8px;
        display: block;
        padding: 5px 12px;
        height: fit-content;
        min-height: 2em;
        align-items: center;
        width: 280px;
        display: flex;
        margin-bottom: 16px;
        transition: 0.2s;
        cursor: pointer;
        box-shadow: $boxShadow;
        img {
          height: 57px;
          width: 39px;
          border-radius: 4px;
        }
        .top-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 10px;
          p {
            font-size: 16px;
            color: #c7c8d6;
            font-variant-numeric: ordinal;
            font-family: "Source Sans Pro";
            line-height: 40px;
          }
          a {
            text-align: left;
            color: #c7c8d6;
            font-size: 17px;
            text-decoration: none;
          }
        }

        &:hover {
          box-shadow: $hover-shadow;
          background-color: #313131;
          transform: scale(1.08);
          transition: 0.2s ease;
          color: rgb(255, 255, 255);
        }
      }
    }
  }

  main {
    flex: 1 1 0%;
    padding: 0px 16px;

    .main-head {
      display: flex;
      justify-content: flex-end;

      .search-box {
        display: flex;
        justify-content: flex-end;
        flex: 1 1 0%;

        input {
          appearance: none;
          text-decoration: none;
          outline: none;
          border: none;
          font-size: 16px;
          display: block;
          width: 50%;
          height: 2.55em;
          max-width: 50em;
          padding: 13px;
          border-radius: 5px;
          background-color: rgb(42, 40, 40);
          box-shadow: $boxShadow;
          transition: 0.4s;

          ::placeholder {
            color: rgb(0, 0, 0);
          }

          &:focus,
          &:valid {
            background-color: #313030;
            color: #fff;
          }
        }
      }
    }

    .anime-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));

      margin: 1em -8px 0px;
      gap: 10px;
      .anime-card {
        width: 100%;
        max-width: 8rem;
        padding: 12px 8px;
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          text-decoration: none;
        }

        figure {
          display: block;
          margin-bottom: 16px;

          img {
            display: block;
            width: 7rem;
            height: 11.8em;
            object-fit: cover;
            border-radius: 4px;
            box-shadow: $boxShadow;
            transition: 0.2s ease;
          }
        }

        h3 {
          color: #ffffff;
          font-size: 22px;
          font-weight: 400;
          text-overflow: ellipsis;
        }

        &:hover {
          figure {
            img {
              box-shadow: $hover-shadow;
              transform: scale(1.08);
            }
          }
          h3 {
            color: #ff4949;
            font-weight: 600;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(73, 73, 73);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@media screen and (min-width: 738px) and (max-width: 900px) {
  aside {
    display: none;
  }
  .content-wrap {
    .anime-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      grid-auto-flow: dense;
      grid-gap: 1rem;
      .anime-card {
        max-width: 100%;
        img {
          display: block;
          width: 100%;
          height: 350px;
          object-fit: cover;
          border-radius: 4px;
          box-shadow: $boxShadow;
          transition: 0.2s ease;
        }
      }
    }
  }
}
@media screen and (max-width: 730px) {
.search-box {
  flex:1;
  input {
    width: 100%;
    max-width: 100em;
  }}
  aside {
    display: none;
  }
  .content-wrap {

    .anime-list {
      width: 100%;
      margin: 0 0px 0px;
      gap: 10px;
      display: grid;
     
      grid-template-columns: repeat(auto-fit, minmax(5em, 1fr)) !important;
     
      .anime-card {
        max-width: 10em;
        img {
          display: block;
          width: 100px;
          height: 30%;
          object-fit: cover;
          border-radius: 4px;
          box-shadow: $boxShadow;
          transition: 0.2s ease;
        }
      }
    }
  }
}
