$bg-color: #262c69;
$btn-light: lighten($bg-color, 10%);
$font-stack:    Helvetica, sans-serif;
$boxShadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);
$hover-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.34),
0 6.7px 5.3px rgba(0, 0, 0, 0.8),
0 12.5px 10px rgba(0, 0, 0, 0.6),
0 22.3px 17.9px rgba(0, 0, 0, 0.72),
0 41.8px 33.4px rgba(0, 0, 0, 0.86),
0 100px 80px rgba(0, 0, 0, 0.2);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family:'Courier New', Courier, monospace;
}
.App{
	background-color: $bg-color;
	
}

header {
	padding-top: 50px;
	padding-bottom: 30px;

	h1 {
		color: rgb(212, 211, 211);
		font-size: 36px;
		font-weight: 400;
		text-align: center;
		text-shadow:  2px 2px 4px #000000;
		
		:hover {
			cursor: pointer;
		}
		strong {
			color: #ff2222;
		}
	}
}

.content-wrap {
	display: flex;

	aside {
		flex: 1 1 250px;
		max-width:fit-content;
		padding-right: 16px;

		nav {
			padding-left: 16px;
			padding-right: 16px;

			h3 {
				color: #df4b4b;
				font-size: 34px;
				padding: 8px 10px;
				font-family:'Courier New', Courier, monospace;
				margin-bottom: 16px;
			}
			.top-list {
				background-color:$btn-light;
				border-radius: 8px;
				display: block;
			    padding: 8px 16px;
				height: fit-content;
				min-height: 60px;
				align-items: center;
				width:320px;
				display:flex;
				margin-bottom: 16px;
				transition: 0.2s;
				cursor: pointer;
				box-shadow: $boxShadow;
				img {
					height:70px;
					width:50px;
					border-radius: 4px ;
					
				}
				.top-text{
					display:flex;
					flex-direction: column;
					align-items: flex-start;
					padding-left: 10px;
					p{			
						font-size: 18px;
						color: #c7c8d6;
						font-variant-numeric: ordinal;
						font-family: "Source Sans Pro";
						line-height: 40px;					
					}
					a {
						text-align: left;
						color: #c7c8d6;
						font-size: 25px;
						text-decoration: none;	
					}
				}

				&:hover {
					box-shadow: $hover-shadow;
					background-color: #313131;
					transform: scale(1.08);
					transition: 0.2s ease;
					color: rgb(255, 255, 255);
				}
			}
			
		}
	}

	main {
		flex: 1 1 0%;
		padding: 0px 16px;

		.main-head {
			display: flex;
			justify-content: flex-end;

			.search-box {
				display: flex;
				justify-content: flex-end;
				flex: 1 1 0%;
				
				input {
					appearance: none;
					background: none;
					outline: none;
					border: none;
					font-size: 20px;
					display: block;
					width: 100%;
					height:50px;
					max-width: 400px;
					padding: 16px;
					border-radius: 5px;
					background-color: rgb(42, 40, 40);

					transition: 0.4s;

					::placeholder {
						color: rgb(0, 0, 0);
					}

					&:focus, &:valid {
						background-color: #313030;
						color: #FFF;
					}
				}
			}
		}

		.anime-list {
			display: flex;
			flex-wrap: wrap;
			margin-top: 32px;
			margin: 32px -8px 0px;

			.anime-card {
				flex: 1 1 33.333%;
				max-width: 20%;
				padding: 16px 8px;
				
				a {
					text-decoration: none;
				}

				figure {
					display: block;
					margin-bottom: 16px;

					img {
						display: block;
						width: 100%;
						height: 350px;
						object-fit: cover;
						border-radius: 4px;
						box-shadow: $boxShadow;

						transition: 0.2s ease;
					}
				}

				h3 {
					color: #ffffff;
					font-weight: 400;
				}

				&:hover {
					figure {
						img {
							box-shadow: $hover-shadow;
							transform: scale(1.08);
						}
					}
				
				}
			}
		}
	}
}