.singlePage {
  width: 100%;
  height: 100vh;
  max-height: fit-content;
 
  flex-direction: column;
  background-image: linear-gradient(#262c69, rgb(0, 0, 0));
  color: white;
  display: flex;
}

.singleAnime {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  .singleAnimeimage {
    margin: 2em;
    width: 10em;
    padding: 18px;
    border-radius: 12px;
    transition: 0.2s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  span{
      color: rgb(255, 100, 100);
      font-weight: 600;
  }
  label{
      color:rgb(80, 200, 255);
      font-size: 22px;
  }

  .dataList{
      flex: 1;
      
      display: flex;
      flex-direction: column;
      text-align: left;
      height:70vh;
      overflow-y: scroll;
      
      p{
        line-height: 2em;
      }
      h3{
        font-size: 24px;
        font-weight: 600;
        color: rgb(246, 124, 124);
      }
  }
 
}
.linktoMyAnimeList {
    flex: 1;
    align-self: center;
    a {
      color: rgb(255, 62, 28);
    }
    a:hover {
      color: white;
    }
  }